@using Threax.AspNetCore.AuthCore;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KeePassWeb</title>
    <asset-bundle src="~/bundle.min.css"></asset-bundle>
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-brand-app">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KeePassWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @* if (User.IsInRole(Roles.EditValues))
                        {*@
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Items">Items</a></li>
                    @*}*@
                    @if (User.IsInRole(Threax.AspNetCore.UserBuilder.Entities.AuthorizationAdminRoles.EditRoles))
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Users">Edit Users</a></li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="userMenu">@User.Identity.Name <span class="caret"></span></a>
                            <div class="dropdown-menu" aria-labelledby="userMenu">
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content mt-3">
        @RenderBody()
    </div>
    <div class="container">
        <hr />
    </div>


    <div class="modal fade " tabindex="-1" role="dialog" data-hr-controller="hr-opendb" data-hr-toggle="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unlock Database</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <iframe data-hr-handle="iframe" width="100%" class="border-0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <relogin></relogin>
    @* this line fills in the client config using the tag helper and what has been defined in the di *@
    <client-config csp-nonce></client-config>
    <token-config csp-nonce></token-config>
    <asset-bundle src="~/bundle.min.js"></asset-bundle>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/lib/hr-run.js" asp-append-version="true"></script>
    <threax-csp></threax-csp>
</body>
</html>